.page-footer {
  background-color: #0A2239
}

nav {
  height: 100px;
  line-height: 100px;
  background-color: #4093d6
}

#login-fields {
  z-index: 3;
  width: inherit;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: none;
}

#login-buttons {
  width: inherit;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#right-text {
  width: inherit;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#register {
  padding-left: 135px;
}

#register-button {
  position: absolute;
  top: 550px;
  left: 1000px;
}

#login-button {
  position: absolute;
  top: 110%;
  left: 26%;
}

#square-edit {
  z-index: 3;
  width: 227px;
  height: 227px;
  display: none;
}

#square-empty {
  width: 227px;
  height: 227px;
  margin-left: 33px;
}

#plus {
  width:200px;
  height:200px;
}

#structure-icon {
  width:100px;
  height:100px;
}

#structure-edit {
  width:40px;
  height:40px;
}

#add-structure-button {
  width: 227px;
  height: 227px;
  margin-left: 33px;
  margin-bottom: 7px;
}

#add-structure-button:focus {
  background-color: #eeeeee;
}
