#page-container {
  position: relative;
  min-height: 100vh;
}

.completed{
  text-decoration: line-through;
}

#content-wrap {
  padding-bottom: 8rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8rem;            /* Footer height */
}

#list{
  height: 50%;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  border: 1;
  border-color: #9e9e9e;
}

.page-footer {
  text-align: center;
  background-color: #0A2239
}

nav {
  height: 100px;
  line-height: 100px;
  background-color: #4093d6
}

#login-fields {
  z-index: 3;
  width: inherit;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: none;
}


#login-buttons {
  width: inherit;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#right-text {
  width: inherit;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#site-info {
  margin-top: 5%;
  margin-left: 5%;
}

#info1, #info2 {
  margin-top: 3%;
  margin-left: 3%;
  font-size: 17px;
}

#info1:before, #info2::before {
  content: "-";
}

#register {
  padding-left: 135px;
}

#register-button {
  position: absolute;
  top: 550px;
  left: 1000px;
}

#login-button {
  position: absolute;
  top: 110%;
  left: 26%;
}

#square-edit1 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-edit2 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit3 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit4 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit5 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit6 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit7 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit8 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-edit9 {
  font-size: 22px;
  z-index: 3;
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-empty1 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
  display: none;
}

#square-empty2 {
  width: 227px;
  height: 227px;
  margin-left: 10%;

}

#square-empty3 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty4 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty5 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty6 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty7 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty8 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#square-empty9 {
  width: 227px;
  height: 227px;
  margin-left: 10%;
}

#plus {
  width:200px;
  height:200px;
}

#structure-icon {
  width:100px;
  height:100px;
}

#room-icon {
  width:100px;
  height:80px;
}

#structure-edit {
  width:40px;
  height:40px;
}

#add-structure-button {
  width: 227px;
  height: 227px;
  margin-left: 10%;
  margin-bottom: 7px;
}

#add-structure-button:focus {
  background-color: #eeeeee;
}

#edit-room {
  padding-top: 7px;
  width: 25px;
  height: 25px;
}

#edit-room:focus {
  background-color: #eeeeee;
}

#edit-room-icon {
  width: 10px;
  height: 10px;
}

#name-room {
  font-size: 25px;
}

#info-room {
  margin-left: 21%;
}

#room-booking-tbody {
  display:block;
  height: 200px;
  overflow:auto;
}

#room-booking-thead, #room-booking-tbody-tr {
  width: 490px;
  display:table;
  table-layout:fixed;
}

#room-booking {
  width: 490px;
}

#room-bookings, #calendar, #name-info-room {
  margin-top: 4%;
}

#menu {
  line-height: 50px;
  background-color: #1466ad
}

#home-icon {
  height: 50px;
}

#user-icon {
  height: 30px;
  position: relative;
  bottom: -7;
}

.vl{
  border-left: 1px solid rgba(169, 169, 169, .7);
  height: 50%;
  position: absolute;
  margin-top: 11%;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#booking {
  margin-top: 2%;
}

#plus-client {
  width: 25px;
  height: 25px;
}

#add-client {
  margin-left: 3%;
}

#add-booking {
  position: absolute;
  margin-left: -10%;
  margin-top: 27%;
}

#email-user-now, #email-user-new {
  margin-top: 5%;
}

#modify-cancel {
  margin-top: 4%;
  margin-left: 66%;
}
